<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>

<form class="form" th:method="post" th:action="@{/companies/saveCompany}" th:object="${company}">

    <input type="hidden" name="companyId" th:field="*{id}" placeholder="company Id">
    <label>
        <input type="text" name="companyName" th:field="*{companyName}" placeholder="Company Name">
    </label>
    <br><br>
    <label>
        <input type="text" name="locatedCountry" th:field="*{locatedCountry}" placeholder="Located Country">
    </label>
    <br><br>
    <input type="submit" value="Add company">
</form>

</body>
</html>