<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>

<body style="text-align: center">

<form class="form" th:method="patch" th:action="@{/companies/companyUpdate}" th:object="${company}">
    <input type="hidden" name="companyId" th:field="*{id}" placeholder="company Id">
    <label>
        <input class="companyname" type="text" name="companyName" th:field="*{companyName}" placeholder="Company Name">
    </label>
    <br><br>
    <label>
        <input type="text" name="locatedCountry" th:field="*{locatedCountry}" placeholder="Located Country">
    </label>
    <br><br>
    <input type="submit" value="Update">
</form>
</body>
</html>