<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" class="btn btn-outline-primary" ><a th:href= "@{/companies}">Company</a></button>
<button type="button" class="btn btn-outline-success" th:href="@{/groups}"> <a th:href= "@{/groups}">Group</a></button>
<button type="button" class="btn btn-outline-danger" th:href="@{/teachers}"><a th:href="@{/teachers}">Teachers</a></button>
<button type="button" class="btn btn-outline-warning" th:href="@{/students}"><a th:href="@{/students}">Students</a></button>
<br>
<table >
    <div th:each="course:${courses}">
        <br>
        <p  th:text="${course.id}"></p>
        <td>
            <p th:text="${course.courseName}"></p>
        </td>
        <td>
            <p th:text="${course.durationMonth}"></p>
        </td>
        <td>
            <p th:text="${course.getCompany().getCompanyName()}"></p>
        </td>
        <td>
        <td>
            <a th:href="@{/courses/{id}/updateCourse(id=${course.getId()})}">update</a>
        </td>
        <td><form th:method="DELETE" th:action="@{/courses/{id}(id=${course.getId()})}">
            <input type="submit" value="delete"/></form></td>
    </div>

</table>

</table>

<a href="/courses/addCourse"><input type="submit" class="btn btn danger" value="Add course"></a>
</body>
</html>