<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses Group</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS only -->
    <style>
        .nur{
            color: black;
        }
    </style>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr class="nur">
        <th scope="col">#</th>
        <th scope="col">Group Name</th>
        <th scope="col">Date of start</th>
        <th scope="col">Date of finish</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group:${groups}">
        <th scope="row" th:text="${group.getId()}"></th>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.getDateOfStart()}"></td>
        <td th:text="${group.dateOfFinish}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>